.featured-products {
    display: flex;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.section-header {
    background-color: #9fd1dd;
    width: 99%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h2 {
    font-size: 25px;
    margin: 5px;
}

.product-card {
    border: 1px solid #62747a;
    color: #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    min-width: 250px;
    border-radius: 10px;
    transition: background 1s, color 0.3s;
}

.product-cards {
    display: inline-block;
    margin: 0 10px;
}

.product-card:hover {
    background-color: rgb(101, 118, 139);
    border: 1px solid #ff7300;
}

.product-card img {
    max-width: 100%;
    height: 230px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #ff9900;
}

.add-to-cart {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #7e4e07;
}

.Carrusel-Card {
    display: flex;
    align-items: center;
    width: 99%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: auto;
    background-color: #232f3e;
}


.Carrusel-Card2 {
    
    align-items: center;
    width: 99%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: auto;
    background-color: #232f3e;
}


.Carrusel-Card::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.Carrusel-Card::-webkit-scrollbar-track {
    background: #232f3e;
}

.Carrusel-Card::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 5px;
}

.Carrusel-Card::-webkit-scrollbar-thumb:hover {
    background: #ff9900;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 153, 0, 0.8);
}


/* Estilos para la sección de categorías populares */
.popular-categories {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.category {
    padding: 20px;
    margin: 10px;
    text-align: center;
    min-width: 250px;
    border-radius: 50px;
}

.category2 {
    padding: 20px;
    margin: 10px;
    text-align: left;
    min-width: 250px;
    border-radius: 50px;
}

.contenido_resena{
    display: flex;
   
}

.imagen_resena {
    margin-right: 10px; 
}

.category img {
    max-width: 100%;
    height: 80%;
    margin-bottom: 10px;
    border-radius: 100px;
    border-style: groove;
    border-color: #7e4e07;
}

.category img:hover {
    border-color: #ff9900;
}

.category h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #000000;
}

.main-card {
    padding-top: 63px;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background 0.3s, color 0.3s;
    opacity: 0.7;
}

.prev-btn {
    left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: linear-gradient(90deg, rgba(50, 4, 212, 0.377) 0%, rgba(0, 0, 0, 0) 100%);
    transition: background 1s;
}

.prev-btn:hover {
    left: 10px;
    background: linear-gradient(90deg, rgba(226, 87, 6, 0.7) 0%, rgba(251, 255, 0, 0) 100%);
}

.next-btn {
    right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(50, 4, 212, 0.377) 100%);
    transition: background 1s;
}

.next-btn:hover {
    right: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(226, 87, 6, 0.7) 100%);
}

.carousel-btn:hover {
    opacity: 1;
}